<%= form_for(resource, as: resource_name, url: user_index_path, html: { class: local_assigns[:classname] }) do |f| %>
  <div class="field">
    <%= f.label :name, "Full Name", class: 'label' %>
    <%= f.text_field :name, class: 'input' %>
    <% if !resource.errors[:name].empty? %>
      <div class="has-text-danger">
        <%= resource.errors.full_messages_for(:name) %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :email, "Email Address", class: 'label' %>
    <%= f.email_field :email, autocomplete: "email", class: 'input' %>
    <% if !resource.errors[:email].empty? %>
      <div class="has-text-danger">
        <%= resource.errors.full_messages_for(:email) %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :phone, "Phone Number", class: 'label' %>
    <%= f.phone_field :phone, class: 'input' %>
    <% if !resource.errors[:phone].empty? %>
      <div class="has-text-danger">
        <%= resource.errors.full_messages_for(:phone) %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Complete Signup", class: "button is-primary is-fullwidth" %>
  </div>
<% end %>
