<%= form_for(resource, as: :user, url: user_index_path, html: { class: local_assigns[:classname] }) do |f| %>

  <%= render partial: 'shared/form/field', locals: { field: :full_name, label: "Full Name", error: resource.get_name_error, form: f, resource: resource } %>
  <%= render partial: 'shared/form/field', locals: { field: :email, label: "Email Address", form: f, resource: resource } %>
  <%= render partial: 'shared/form/field', locals: { field: :pnum, label: "Phone Number", form: f, resource: resource } %>

  <div class="actions">
    <%= f.submit "Complete Signup", class: "button is-primary is-fullwidth" %>
  </div>
<% end %>
